.icon {
    max-width: 32px;
}

.form-horizontal .item-label {
    padding-top: 0px;
    text-align: left;
}

@media (max-width: 768px) {
   .item-label {
        padding-left: 0px;
        padding-right: 0px;
   }
}