{% extends "base.html" %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
  $(document).ready(function() {
    var socket = io.connect({% if SSL %}'https://'{% else %}'http://'{% endif %} + document.domain + ':' + location.port);

    {% for panel in panels %}
      {% for control in panel.controls %}
        {{ control.render_js() | safe}}
      {% endfor %}
    {% endfor %}

  });
</script>
{% endblock %}


{% block page_content %}
<div class="row">
  <div class="col-xs-12 col-sm-6">
    {% for panel in panels %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ panel.title }}
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          {% for control in panel.controls %}
            {{ control.render_html() | safe }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}