{% extends "base.html" %}


{% block scripts %}
{{ super() }}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script>
  $(document).ready(function() {
    var socket = io.connect({% if SSL %}'https://'{% else %}'http://'{% endif %} + document.domain + ':' + location.port);

    socket.on('mqtt_message', function(data) {
      console.log(data);
      $row = $('#mqtt-item-' + data.id);
      $row.prop('title', data.update_time);
      $row.find('.mqtt-item-value').val(data.value);
    });

    $('.mqtt-control').click(function() {
      var msg = '{"control_id": "' + this.id + '", "btn": ' + $(this).data('btn') + '}'
      console.log(msg)
      socket.emit('control clicked', msg)
    })
  });
</script>
{% endblock %}


{% block page_content %}
<div class="row">
  <div class="col-xs-12 col-sm-6">
    {% for panel in panels %}
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ panel.title }}
      </div>
      <div class="panel-body">
        <div class="form-horizontal">
          {% for control in panel.controls %}
            {{ render_control(control) | safe }}
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}